.Button{
    background-color: #5CCBEE;
    padding:5px;
    margin-left:10px;
    width:max-content;
    height:max-content;
    border-radius:8px ;
    box-sizing: border-box;
}

.Button a{
    text-decoration: none;
    color:#C4FAAE;
}

.Button:hover{
    filter: brightness(110%);
    filter:drop-shadow(-5px 5px 5px black);
}

.Button :focus{
    filter:contrast(200%)
}