
.main-intro{
    display:flex; 
}

.main-intro-img{
}

.main-intro-img img{
    filter:brightness(80%);
    width:50%;
    z-index:0;
}

.main-intro-txt{
    margin-top:100px;
    font-size: x-large;
    z-index:2;
    color:rgb(199, 228, 39);
}
.app-cards{
    margin-top:15px;
    position:relative;
    justify-content: center;
    display:grid;
    grid-template-columns: repeat(3,250px);
    grid-template-rows: repeat(3,250px);
    z-index:2;
}