.blogTextBody {
    position: absolute;
    width: 897px;
    height: 2009.05px;
    left: 293px;
    top: 291.75px;
    font-family: McLaren;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
}