.card-app{
    width:100px;
    height:100px;
    background: #56A8BC;
    border-radius: 30px;
    margin:5px;
    display:block;
}

.card-link{
    width: max-content;
    height: max-content;
   font-size:large;
   text-decoration: none;
}

.card-app:hover{
    filter:brightness(50%);
    border-radius: 50px;
}

.card-txt{
    color: #C5FBA4;
    text-align: center;
}

.card-img{
    width:80%;
    height: 50%;
    border: 1px solid black;
    position: center;
}
.card-img img{
    width: 90%;
    height: 90%;
  
}