.searchbar{
   height: min-content;
   margin-left: auto;
   margin-right:auto;
   align-items:center;
  
}

.input-fld{
    border-radius:34px;
    margin-left: 10px;
    width: auto;
    height: 40px;
    border:2px solid black;
    font: bold large sans-serif;
    background:#E3ECE2;
    color: black;
    outline: none;
    position:center;
}

.input-fld:hover{
    border-radius:36px;
    border:0;
    background:#9ac096;
    color: black;
}

.input-fld:focus{
    border:0;
    color: black;
}

.search-btn {
    margin-left:auto;
    width:max-content;
    height:max-content;
    padding:5px;
    border:0;
    background:transparent;
    margin-top: 0px;
}

.search-btn:hover {
    border-radius:20px;
    background:#2e6d8a;
}

.search-btn:focus {
    border-radius:20px;
    background:#204C60;
    
}



