.icon{
    float: right;
    margin-right: 111px;
    margin-top: 20px
}

.text{
    margin-left: 45px;

    width: max-content;
    height: 20px;

    font-family: McLaren;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    float: left;
}